.container{
    width: auto;
    height: 2500px;
}
.nav-bar{
    width: auto;
    height: 120px;
    background-color: beige;
    margin-bottom: 20px;
}
.logo{
    width: 100px;
    height: 110px;
}
.box1{
    text-align: right;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px auto;
    width: 80vw;
    height: 400px;
}
.lee{
    margin: 10px auto;
    width: 200px;
    height: 200px;
    right: -50px;
}


@media screen and (Max-width = 767px) {
    .container{
        width: auto;
        height: 2500px;
    }
    .nav-bar{
        width: auto;
        height: 100px;
        background-color: beige;
    }
    .logo{
        width: 100px;
        height: 110px;
    }
    .box1{
        border: 1px solid black;
        width: 400px;
        height: 400px;
    }
}